p {
	font-family: 'lato', 'helvetica', sans-serif;
	// border: solid red 1px;
}

.paddingtop{
	padding: 30px;
	// border: solid red 1px;
}

img[src] {
	width: 120px;
}

@media (max-width: 400px) {
	img[src] {
	width: 60px;
	}
}
.media-body button {
	// height: 400px;
	// overflow-y: scroll;
}

