<!DOCTYPE html>
<html lang="en" ng-app="gemStore">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gem Store</title>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300&subset=latin-ext' rel='stylesheet' type='text/css'>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js" type="text/javascript"></script>
</head>
<body>
	<div class="container">
		<div class="row" ng-controller = "GemController as gem">
			<div ng-repeat="product in gem.gems">
				<div class="clearfix visible-lg" ng-if="$index % 3 == 0"></div>
				<div class="col-xs-12 col-sm-6 col-lg-4">
					<div class="media paddingtop">
						<div class="media-left">
							<img class="media-object" ng-attr-src="{{ product.source }}" alt="Ruby gemstone">
						</div>
						<div class="media-body">
							<h3 class="media-heading">{{ product.name }}
								<span class="label label-primary label-xs">{{ product.price }}</span>
							</h3>
							<p>{{ product.description }}</p>
							<button type="button" class="btn btn-primary center-block" ng-show="product.canPurchase">Buy {{ product.name }}</button>
						</div>
					</div>
				</div>
			</div>
<!-- 			<div class="col-xs-12 col-sm-6 col-lg-4">
	<div class="media paddingtop">
		<div class="media-left">
			<img class="media-object" ng-attr-src="{{ gem.sapphire.source }}" alt="Sapphire gemstone">
		</div>
		<div class="media-body">
			<h3 class="media-heading">{{ gem.sapphire.name }}
				<span class="label label-primary label-xs">{{ gem.sapphire.price }}</span>
			</h3>
			<p>{{ gem.sapphire.description }}</p>
			<button type="button" class="btn btn-primary" ng-show="gem.sapphire.canPurchase">Buy</button>

		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-6 col-lg-4">
	<div class="media paddingtop">
		<div class="media-left">
			<img class="media-object" ng-attr-src="{{ gem.emerald.source }}" alt="Emerald gemstone">
		</div>
		<div class="media-body">
			<h3 class="media-heading">{{ gem.emerald.name }}
				<span class="label label-primary label-xs">{{ gem.emerald.price }}</span>
			</h3>
			<p>{{ gem.emerald.description }}</p>
			<button type="button" class="btn btn-primary" ng-show="gem.emerald.canPurchase">Buy</button>
		</div>
	</div>
</div> -->
		</div>
	</div>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js" type="text/javascript"></script>

</body>
</html>