<!DOCTYPE html>
<html lang="en" ng-app="gemStore">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gem Store</title>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300&subset=latin-ext' rel='stylesheet' type='text/css'>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js" type="text/javascript"></script>
</head>
<body>
	<div id="container" class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10">
				<h1 class="text-center">Famous Gems</h1>
				<h2 class="text-center">An Angular Ring Store</h2>
			</div>
			<div class="col-xs-12 col-sm-2">
				<button>Price low to high</button>
				<button>Price high to low</button>
			</div>
		</div>
		<div class="row" ng-controller = "GemController as gem">
			<div ng-repeat="product in gem.gems | orderBy: 'price'">
				<div class="clearfix visible-lg" ng-if="$index % 3 == 0"></div>
				<div class="clearfix visible-md" ng-if="$index % 2 == 0"></div>
				<div class="clearfix visible-sm" ng-if="$index % 2 == 0"></div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
					<div class="media paddingtop">
						<div class="media-left">
							<img class="media-object" ng-attr-src="{{ product.source }}" alt="Ruby gemstone">
						</div>
						<div class="media-body">
							<h3 class="media-heading">{{ product.name }}
								<span class="label label-primary label-xs">{{ product.price | currency }}</span>
							</h3>
							<p>{{ product.description }}</p>
							<button type="button" class="btn btn-primary center-block" ng-show="product.canPurchase">Buy {{ product.name }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
    <script src="js/app.js" type="text/javascript"></script>


</body>
</html>